<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoDoc - AI-Powered Doctor</title>
    <meta name="description" content="AutoDoc - The AI-powered doctor that helps you diagnose and manage your health. Created by Dris Elamri.">
    <meta name="keywords" content="autodoc, AI doctor, healthcare, artificial intelligence, diagnosis, health management">
    <meta itemprop="name" content="AutoDoc - AI-Powered Doctor">
    <meta itemprop="description" content="AutoDoc - The AI-powered doctor that helps you diagnose and manage your health. Created by Dris Elamri.">
    <meta itemprop="image" content="AUTODOC-SHARING-PREVIEW.pngL">
    <meta property="og:url" content="https://autodoc.one">
    <meta property="og:type" content="website">
    <meta property="og:title" content="AutoDoc - AI-Powered Doctor">
    <meta property="og:description" content="AutoDoc - The AI-powered doctor that helps you diagnose and manage your health. Created by Dris Elamri.">
    <meta property="og:image" content="AUTODOC-SHARING-PREVIEW.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="AutoDoc - AI-Powered Doctor">
    <meta name="twitter:description" content="AutoDoc - The AI-powered doctor that helps you diagnose and manage your health. Created by Dris Elamri.">
    <meta name="twitter:image" content="AUTODOC-SHARING-PREVIEW.png">
    <link rel="icon" type="image/png" href="AUTODOC-FAVICON.png">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/script.js"></script>
</head>
<body>
    <div class="container">
        <!-- 👨‍⚕️ -->
        <!-- to do list
        (not doing this) make text box automaically increase or decrease size
        [x] at box shadow to watermark
        [x] use cases/example boxes (also instrucations maybe possibly idk)
        history? 
        [x] edit temperatuire of chat gpt
        add login and make people who have used once login to see results
        add prewritten text in input box as example
        -->
        <h1 class="text-center"><span class="special-text">AUTO</span>DOC 👨‍⚕️</h1>
        <p class="text-center">⚡ AI-Powered Doctor / Diagnosis Tool</p>
        <form id="symptom-checker-form" action="/results" method="post">
            <div id="step-1" class="step">
                <label for="symptoms">First, what are your main symptoms?<span class="required-indicator">*</span></label>
                <input type="text" name="symptoms" id="symptoms" required>
                <div class="step-controls">
                    <button type="button" class="next-step">Next</button>
                    <div class="question-counter"></div>
                </div>
            </div>
            <div id="step-2" class="step" style="display:none;">
                <label for="symptom_start">When did these symptoms start, and have they been consistent or changed over time?<span class="required-indicator">*</span></label>
                <input type="text" name="symptom_start" id="symptom_start" required>
                <div class="step-controls">
                    <button type="button" class="prev-step">Previous</button>
                    <button type="button" class="next-step">Next</button>
                    <div class="question-counter"></div>
                </div>
            </div>
            <div id="step-3" class="step" style="display:none;">
                <label for="medications">Are you currently taking any medications, supplements, or over-the-counter drugs? If so, please provide the names and dosages.</label>
                <input type="text" name="medications" id="medications">
                <div class="step-controls">
                    <button type="button" class="prev-step">Previous</button>
                    <button type="button" class="next-step">Next</button>
                    <div class="question-counter"></div>
                </div>
            </div>
            <div id="step-4" class="step" style="display:none;">
                <label for="allergies">Do you have any known allergies, particularly to medications?</label>
                <input type="text" name="allergies" id="allergies">
                <div class="step-controls">
                    <button type="button" class="prev-step">Previous</button>
                    <button type="button" class="next-step">Next</button>
                    <div class="question-counter"></div>
                </div>
            </div>
            <div id="step-5" class="step" style="display:none;">
                <label for="chronic_conditions">Have you been diagnosed with any chronic medical conditions? (e.g., diabetes, hypertension, asthma, etc.)</label>
                <input type="text" name="chronic_conditions" id="chronic_conditions">
                <div class="step-controls">
                    <button type="button" class="prev-step">Previous</button>
                    <button type="button" class="next-step">Next</button>
                    <div class="question-counter"></div>
                </div>
            </div>
            <div id="step-6" class="step" style="display:none;">
                <label for="contact_sick">Have you recently been in contact with anyone who was sick or diagnosed with an infectious disease?<span class="required-indicator">*</span></label>
                <select name="contact_sick" id="contact_sick" required>
                    <option value="no">No</option>
                    <option value="yes">Yes</option>
                </select>
                <div class="step-controls">
                    <button type="button" class="prev-step">Previous</button>
                    <button type="button" class="next-step">Next</button>
                    <div class="question-counter"></div>
                </div>
            </div>
            <div id="step-7" class="step" style="display:none;">
                <label for="recent_travel">Have you recently traveled or been in a high-risk environment (e.g., crowded places, healthcare settings, etc.)?<span class="required-indicator">*</span></label>
                <select name="recent_travel" id="recent_travel" required>
                    <option value="no">No</option>
                    <option value="Yes">Yes</option>
                    </select>
                    <div class="step-controls">
                        <button type="button" class="prev-step">Previous</button>
                        <button type="button" class="next-step">Next</button>
                        <div class="question-counter"></div>
                    </div>
                    </div>
                    <div id="step-8" class="step" style="display:none;">
                    <label for="recent_injury">Have you experienced any recent injuries or undergone any surgical procedures?</label>
                    <input type="text" name="recent_injury" id="recent_injury">
                    <div class="step-controls">
                        <button type="button" class="prev-step">Previous</button>
                        <button type="button" class="next-step">Next</button>
                        <div class="question-counter"></div>
                    </div>
                    </div>
                    <div id="step-9" class="step" style="display:none;">
                    <label for="additional_symptoms">Next, are you experiencing any additional symptoms, such as weight loss, fatigue, or changes in appetite?</label>
                    <input type="text" name="additional_symptoms" id="additional_symptoms">
                    <div class="step-controls">
                        <button type="button" class="prev-step">Previous</button>
                        <button type="button" class="next-step">Next</button>
                        <div class="question-counter"></div>
                    </div>
                    </div>
                    <div id="step-10" class="step" style="display:none;">
                    <label for="age_sex_health">Lastly, what's your age, sex, and general health status (e.g., smoker, exercise habits, etc.)?<span class="required-indicator">*</span></label>
                    <input type="text" name="age_sex_health" id="age_sex_health" required>
                    <div class="step-controls">
                        <button type="button" class="prev-step">Previous</button>
                        <button type="button" class="next-step next-button">Next</button>
                    </div>
                    <div class="question-counter"></div>
                    </div>
                      <div id="submit-step" style="display: none">
                        <button type="submit">Submit</button>
                        <div id="loader" class="loader spinner-border text-primary" role="status" style="display: none;">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div class="diagnosis-section container">
                        <h2 class="text-center">CURRENT DIAGNOSIS:</h2>
                        <p id="suspected-diagnosis" class="text-center">🤔 Waiting<span class="ellipsis"></span></p>
                      </div>
                    <div class="example-section container">
                        <h3 class="text-center">USE CASES:</h3>
                        <div class="example-box">
                            <p class="text-center">✅ DIAGNOSE BASIC AILMENTS</p>
                        </div>
                        <div class="example-box">
                            <p class="text-center">✅ SAVE ON HEALTH INSURANCE</p>
                        </div>
                        <div class="example-box">
                            <p class="text-center">❌ USE AS MEDICAL ADVICE</p>
                        </div>
                        <p class="text-center text-optional">Please note that questions without a red asterisk <span class="required-indicator">*</span> are optional, however, answering additional questions only increases the accuracy of your diagnosis.</p>
                    </div>
                    </form>
                    <div class="text-corner">
                        <p>Created by <a href="https://dris.one" target="_blank">Dris Elamri</a> (after dropping a 64% on a CSA test 💯)</p>
                    </div>
                    
                </div>
            </body>
            </html>
